<h1>Magazyny</h1>



      <% @item.each do |item| %>
        <%= render "item_row", item: item, order_item: @order_item %>
      <% end %>


 
<p>
<div class="col-md-12">

<% if can? :create, Item %>
  <%= link_to 'New Item', new_item_path, :class =>"btn btn-default" %>
<% end %>

</div>