<div class="col-md-12">
<h1>Nowy magazyn</h1>
</div>
<%= render 'form' %>
<div class="col-md-12">
<div class="col-md-3">
<p><%= link_to 'Wróć', items_path, :class =>"btn btn-default"  %>
</div>
</div>
